body{
  font-family: 'Montserrat', sans-serif;
}

header{
  text-align:center;
}

h1{
  margin:50px;
  font-size:3em;
}

content{
  text-align:center;
}
.description{
  color:grey;
  padding:0 20% 0 20%;
  text-justify:auto;
}

.request{
  color:grey;
}

#result{
  color:green;
  font-size:1.5em;
}



